@import url('https://fonts.googleapis.com/css?family=Mukta');

* {
  font-family: 'Mukta', sans-serif;
  color: #ffffff;
}

h1, h3 {
  padding-left: 1vw;
}

#order {
  font-size: 1.5vw;
}

#order .table {
  margin-left: 1.5vw;
  margin-bottom: 20vw;
}

#order p {
  font-size: 2vw;
}

.table{
  display: table;
  width: 95vw;
}
.table .thead{
  display:table-header-group;
}
.table .tbody{
  display:table-row-group;
}
.table .tr{
  display:table-row;
}
.table .th, .table .td{
  display:table-cell;
  padding: 2vw 1vw 2vw 1vw;
  border-bottom: 1px #00bcd473 solid;
}

.cost:before, #total:before, .item_total:before{
  content: "$";
}

.quantity {
  text-align: right;
  width: 9vw;
  border: none;
  border-radius: 6px;
  color: #061922;
  padding-right: 0.3vw;
  font-size: 1.5vw;
}

.righth, .quantity_cell, .item_total {
  text-align: right;
}

body {
  margin: 0;
  background-color: #061922;
}

p {
  padding: 1vw;
}

input:focus {
  outline-color: #9abfd1;
  outline-style: double;
  outline-width: thick;
}

i.updownbutton {
  cursor: pointer;
  font-size: 2.5vw;
  position: relative;
  top: 0.5vw;
  margin-right: 1vw;
}

p#total_cost {
  position: fixed;
  bottom: 0vw;
  width: 100vw;
  background-color: crimson;
  margin: 0;
  height: 3vw;
  font-size: 1.5vw;
}

#popup {
  position: fixed;
  top: -100vw;/* show at 20vw */
  width: 70vw;
  background-color: #061922;
  left: 15vw;
  right: 15vw;
  border-radius: 7px;
  height: 18vw;
  padding-top: 3vw;
  border: #fe3729 solid 1px;
  z-index: 2;
  box-shadow: black 0px 4px 18px 0px;
  transition: 0.5s;
}

#popup_mes {
  font-size: 3vw;
  color: #fe3729;
  text-align: center;
}

.popup_button {
  border-radius: 4px;
  border: none;
  height: 3.5vw;
  font-size: 2vw;
  position: relative;
  cursor: pointer;
}

#yes {
  background-color: #fe3729;
  width: 6vw;
  left: 19vw;
  top: 3vw;
}

#no {
  background-color: #4CAF50;
  width: 8vw;
  left: 36vw;
  top: 3vw;
}

#popup_filter {
  background-color: #19262cd1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  display: none;
}
