@import url('https://fonts.googleapis.com/css?family=Mukta');

* {
  font-family: 'Mukta', sans-serif;
  color: darkgreen;
}

.table{
  display: table;
  width: 100vw;
}
.table .thead{
  display:table-header-group;
}
.table .tbody{
  display:table-row-group;
}
.table .tr{
  display:table-row;
  border: 5px solid red;
}
.table .th, .table .td{
  display:table-cell;
  padding: 1vw;
}

.quantity {
  text-align: right;
  width: 7vw;
}

body {
  margin: 0;
}

p {
  padding: 1vw;
}