@import url('https://fonts.googleapis.com/css?family=Mukta');

* {
  font-family: 'Mukta', sans-serif;
  color: #ffffff;
  font-size: 1.5vw;
}

.table{
  display: table;
  width: 95vw;
}
.table .thead{
  display:table-header-group;
}
.table .tbody{
  display:table-row-group;
}
.table .tr{
  display:table-row;
}
.table .th, .table .td{
  display:table-cell;
  padding: 2vw 1vw 2vw 1vw;
  border-bottom: 1px #00bcd473 solid;
}

.cost:before, #total:before, .item_total:before{
  content: "$";
}

.quantity {
  text-align: right;
  width: 9vw;
  border: none;
  border-radius: 6px;
  color: #061922;
  padding-right: 0.3vw;
}

.righth, .quantity_cell, .item_total {
  text-align: right;
}

body {
  margin: 0;
  background-color: #061922;
}

p {
  padding: 1vw;
}

input:focus {
  outline-color: #9abfd1;
  outline-style: double;
  outline-width: thick;
}